/* theme */
@import 'primevue/resources/themes/lara-light-indigo/theme.css';

/* core */
@import 'primevue/resources/primevue.min.css';

@import 'primeflex/primeflex.min.css';

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0.5rem;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

#app {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
